snippet init
	initial begin
	    ${0}
	end

snippet dy
	/* DY: ${0} */

snippet mpa
	#( parameter
	    ${0}
	)

snippet T
	1'b1

snippet F
	1'b0

snippet ifd
	\`ifdef ${1}
	    ${2}
	\`endif

snippet ifn
	\`ifndef ${1}
	    ${2}
	\`endif

