snippet init
	initial begin
		${0}
	end

snippet dy
	/* DY: ${0} */

snippet mpa
	#( parameter
		${0}
	)

snippet T
	1'b1

snippet F
	1'b0

snippet ifd
	\`ifdef ${1}
		${2}
	\`endif

snippet ifn
	\`ifndef ${1}
		${2}
	\`endif

snippet gen
	for (genvar {$1:i} = ${2:0}; {$1} < ${3}; {$1}++) begin: gen_${4}
		${5}
	end

